* {
    box-sizing: border-box;
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  h1 {
    font-size: 64px;
    text-align: center;
  }
  
  button {
    border: 1px solid;
    cursor: pointer;
  }
  
  input {
    background: #fff;
    border: 1px solid #D6D2D3;
    display: block;
    font-size: 18px;
    padding: 4px;
    height: 33px;
  }
  
  #new-expense-form {
    margin: 0 auto;
    max-width: 640px;
    padding: 0 20px;
    width: 100%;
  }
  
  #new-expense-form label {
    display: block;
    margin-bottom: 4px;
  }
  
  #new-expense-form input[type=text] {
    width: 100%;
  }
  
  #new-expense-form button,
  #expenses .expense .edit-expense-form button {
    border-radius: 2px;
    font-size: 18px;
    font-weight: 200;
    padding: 4px 12px;
  }
  
  #new-expense-form button[type=submit],
  #expenses .expense .edit-expense-form button[type=submit] {
    background-color: #41B1DD;
    color: #fff;
    border-color: #20A0BB;
  }
  
  #new-expense-form button[type=submit]:hover,
  #expenses .expense .edit-expense-form button[type=submit] {
    background-color: #20A0BB;
  }
  
  #new-expense-form button[type=reset],
  #expenses .expense .edit-expense-form button[type=reset] {
    background-color: #F8F4F5;
    border-color: #D6D2D3;
  }
  
  #new-expense-form button[type=reset]:hover,
  #expenses .expense .edit-expense-form button[type=reset]:hover {
    background-color: #D6D2D3;
  }
  
  .form-group {
    margin-bottom: 12px;
  }
  
  .row {
    display: flex;
  }
  
  .row div {
    flex: 1;
    padding-left: 4px;
  }
  
  .row div:first-child {
    padding-left: 0;
  }
  
  .form-actions {
    text-align: right;
  }
  
  #error {
    background-color: #DA2B3A;
    color: #fff;
    margin-top: 10px;
    padding: 5px;
    transition: 0.3s all;
  }
  
  #error.hidden {
    height: 0;
    padding: 0 5px;
  }
  
  #expenses {
    margin: 10px auto;
    max-width: 640px;
    padding: 0 20px;
    width: 100%;
  }
  
  #expenses .expense {
    border: 1px solid #333;
    overflow: auto;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
  }
  
  #expenses .field {
    padding: 10px;
  }
  
  #expenses .expense div:first-child {
    width: 100%;
  }
  
  #expenses .expense div {
    float: left;
    width: 50%;
  }
  
  #expenses .expense h2 {
    margin-top: 0;
  }
  
  #expenses .expense p {
    margin-bottom: 0;
  }
  
  #expenses .expense .actions {
    width: auto;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  #expenses .actions .edit {
    background-color: #F8F4F5;
    border-color: #D6D2D3;
    font-size: 14px;
  }
  
  #expenses .actions .delete {
    background-color: #DA2B3A;
    border-color: #B72431;
    color: #fff;
    font-size: 14px;
  }
  
  #expenses .delete:hover {
    background-color: #C90A18;
  }
  
  #expenses .expense .edit-expense-form {
    margin: 0 0 10px 10px;
    text-align: right;
  }
  
  #expenses .expense .edit-expense-form input:first-child {
    width: calc(100% - 10px);
  }
  
  #expenses .expense .edit-expense-form input {
    float: left;
    margin: 10px 10px 0 0;
    width: calc(50% - 10px);
  }
  
  #expenses .expense .edit-expense-form button {
    margin: 10px 10px 0 0;
  }
  